<br>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Balance</th>
        <th>Interest</th>
        <th>Type</th>
        <th>Date</th>
        <th>Action</th>
    </tr>
    <tr class="filter">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <input type="date" data-ng-model="$ctrl.filter.date">
            <button data-ng-click="$ctrl.setFilter()">go</button>
            <button data-ng-click="$ctrl.resetFilter()">reset</button>
        </td>
    </tr>
    <tr data-ng-repeat="debt in $ctrl.debtList track by $index">
        <td>{{debt.id}}</td>
        <td>{{debt.name}}</td>
        <td>{{debt.balance}}</td>
        <td>{{debt.interest}}</td>
        <td>{{debt.type}}</td>
        <td>{{debt.created| date: 'medium' }}</td>
        <td></td>
    </tr>
</table>

<div class="form-action">
<form-add><?= __('Loading'); ?>...</form-add>
</div>