table {
  max-width: 100%;
  width: 600px;
  margin: 0 auto;
  border: 3px solid rgba(225, 225, 225, 0.99);

  tr {
    background: #fff;
  }

  tr:nth-child(even) {
    background: #f3f3f3;
  }

}

.form-action {
  max-width: 100%;
  width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;

  &.payment {
    box-shadow: #242424 0px 1px 9px;
  }

  form {
    display: inline;
    text-align: right;
    select {
      width: 80%;
      height: 32px;
    }
    input {
      width: 80%;
      height: 32px;
    }
    input[type=submit] {
      width: 30%;
      height: 32px;
    }
    input.filter {
      width: 100%;
      height: 16px;
    }
    label {
      margin-right: 10px;
    }
  }
  .form-group {
    margin: 12px 0;
  }
}

.bg-container {
  position: absolute;
  z-index: 98;
  width: 100%;
  height: 100%;
  display: block;
  background: #fff;
  opacity: 0.9;
  top: 0;
  left: 0;
}

.modal-window {
  position: absolute;
  z-index: 99;
  left: 40%;
  top: 40%;
  display: block;
  width: 50%;
  background: #fff;
}

.close-window {
  position: absolute;
  right: 5px;
  top: 5px;
}

.clickable {
  text-decoration: underline;
  color: blue;
  cursor: pointer;

  &:hover{
    text-decoration: none;
  }
}
